# Introduction

This notebook will be handling data cleaning, imputation, analysis and visualisations to get insights for a business stakeholder

# Business Understanding

A company is looking into new industries to help diversify their portfolio. They are interested in purchasing and operating airplanes for commercial and private enterprises. Given they are unaware of the risks that come with this business, we will look into an aircraft with the lowest risks to ensure the business runs well. Our findings will be translated into information that will help the head of department make the right decisions.

***Main Objectives***

* Get an aircraft with low risk to ensure effective running of the new business

***Specific Objectives***

* Open and inspect contents of the data using pandas
* Identify and handle missing values
* Identify and handle invalid values
* Clean the data
* Give conclusion and recommendations

# Data Understanding

The Data used is from the National Transport Safety Board.

***Attributes***

* Aviation Accident data from 1962 to 2023 about civil aviation accidents
* Selected incidents in the United States and international waters.

# Data Importation

Load both data sets to the notebook

In [1]:
#Import the data from the source
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
import pandas as pd
# List of columns you want to load
columns_to_load = ['Event.Date', 'Location', 'Make', 'Model', 'Injury.Severity', 'Aircraft.damage', 'Number.of.Engines', 
                   'Weather.Condition', 'Purpose.of.flight', 'Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 
                  'Total.Uninjured', 'Report.Status']

# Load the data into a dataframe, specifying the columns to load
aviation_df = pd.read_csv('AviationData.csv', usecols=columns_to_load, encoding='ISO-8859-1')

# Display the first few rows of the dataframe
aviation_df.head()

,Event.Date,Location,Injury.Severity,Aircraft.damage,Make,Model,Number.of.Engines,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Report.Status
0,1948-10-24,"MOOSE CREEK, ID",Fatal(2),Destroyed,Stinson,108-3,1.0,Personal,2.0,0.0,0.0,0.0,UNK,Probable Cause
1,1962-07-19,"BRIDGEPORT, CA",Fatal(4),Destroyed,Piper,PA24-180,1.0,Personal,4.0,0.0,0.0,0.0,UNK,Probable Cause
2,1974-08-30,"Saltville, VA",Fatal(3),Destroyed,Cessna,172M,1.0,Personal,3.0,NaN,NaN,NaN,IMC,Probable Cause
3,1977-06-19,"EUREKA, CA",Fatal(2),Destroyed,Rockwell,112,1.0,Personal,2.0,0.0,0.0,0.0,IMC,Probable Cause
4,1979-08-02,"Canton, OH",Fatal(1),Destroyed,Cessna,501,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Probable Cause

In [3]:
import pandas as pd
#Load the second data set
Statecodes_df= pd.read_csv('USState_Codes.csv')
#Display the first few rows of the data frame
Statecodes_df.head()

     US_State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

# Data Wrangling

 *This is the process of cleaning, transforming, and organizing raw data into a usable format for analysis
and decision-making.*

We will use the following guide to ensure our data is usable.
* Completeness- Here we check for null values
* Consistency- Check for duplicates
* Validity- Check that the data is valid and makes sense
* Uniformity- Ensure the data is in good structure

***Exploring data***

In [4]:
#Let's inspect the shape of the dataframe
print(aviation_df.shape)

(88889, 14)

In [5]:
#Let's look at the data's information
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Date              88889 non-null  object
 1   Location                88837 non-null  object
 2   Injury.Severity         87889 non-null  object
 3   Aircraft.damage         85695 non-null  object
 4   Make                    88826 non-null  object
 5   Model                   88797 non-null  object
 6   Number.of.Engines       82805 non-null  float64
 7   Purpose.of.flight       82697 non-null  object
 8   Total.Fatal.Injuries    77488 non-null  float64
 9   Total.Serious.Injuries  76379 non-null  float64
 10  Total.Minor.Injuries    76956 non-null  float64
 11  Total.Uninjured         82977 non-null  float64
 12  Weather.Condition       84397 non-null  object
 13  Report.Status           82505 non-null  object
dtypes: float64(5), object(9)
memory usage: 9.5+ MB

**Cleaning the data**
* Completeness

In [6]:
#Here we  check for null values
null_values = aviation_df.dropna()
#Print the null values for each column
print(null_values)

       Event.Date         Location Injury.Severity Aircraft.damage  \
0      1948-10-24  MOOSE CREEK, ID        Fatal(2)       Destroyed
1      1962-07-19   BRIDGEPORT, CA        Fatal(4)       Destroyed
3      1977-06-19       EUREKA, CA        Fatal(2)       Destroyed
6      1981-08-01       COTTON, MN        Fatal(4)       Destroyed
7      1982-01-01      PULLMAN, WA       Non-Fatal     Substantial
...           ...              ...             ...             ...
88639  2022-10-06         Iola, TX       Non-Fatal     Substantial
88647  2022-10-08       Dacula, GA       Non-Fatal     Substantial
88661  2022-10-13      Ardmore, OK       Non-Fatal     Substantial
88735  2022-10-29      Houston, TX           Minor     Substantial
88767  2022-11-09   Bridgeport, TX       Non-Fatal     Substantial

                    Make     Model  Number.of.Engines Purpose.of.flight  \
0                Stinson     108-3                1.0          Personal
1                  Piper  PA24-180                1.0          Personal
3               Rockwell       112                1.0          Personal
6                 Cessna       180                1.0          Personal
7                 Cessna       140                1.0          Personal
...                  ...       ...                ...               ...
88639             CESSNA       150                1.0          Personal
88647             CESSNA     177RG                1.0          Personal
88661              BEECH      B-60                2.0          Personal
88735  STEPHEN J HOFFMAN    MS-500                1.0              ASHO
88767           LUSCOMBE        8E                1.0          Personal

       Total.Fatal.Injuries  Total.Serious.Injuries  Total.Minor.Injuries  \
0                       2.0                     0.0                   0.0
1                       4.0                     0.0                   0.0
3                       2.0                     0.0                   0.0
6                       4.0                     0.0                   0.0
7                       0.0                     0.0                   0.0
...                     ...                     ...                   ...
88639                   0.0                     0.0                   0.0
88647                   0.0                     0.0                   0.0
88661                   0.0                     0.0                   0.0
88735                   0.0                     1.0                   0.0
88767                   0.0                     0.0                   0.0

       Total.Uninjured Weather.Condition  \
0                  0.0               UNK
1                  0.0               UNK
3                  0.0               IMC
6                  0.0               IMC
7                  2.0               VMC
...                ...               ...
88639              1.0               VMC
88647              2.0               VMC
88661              1.0               VMC
88735              0.0               VMC
88767              2.0               VMC

                                           Report.Status
0                                         Probable Cause
1                                         Probable Cause
3                                         Probable Cause
6                                         Probable Cause
7                                         Probable Cause
...                                                  ...
88639  The pilots failure to maintain control of the...
88647  An in-flight collision with a bird while on ap...
88661  The pilot did not ensure adequate clearance fr...
88735  The pilots failure to secure the magneto swit...
88767  The pilots loss of control due to a wind gust...

[63609 rows x 14 columns]

It is evident we have 33,405 rows with null values. Let's drop them.

In [7]:
#Use this code to drop the null values
# Drop rows with all null values
aviation_df_clean_rows = aviation_df.dropna(how='all')

# Drop columns with all null values
aviation_df_clean_columns = aviation_df.dropna(axis=1, how='all')

Let's confirm the null values have been dropped

In [8]:
#Here we  check for null values
null_values = aviation_df.dropna()
#Print the null values for each column
print(null_values)

       Event.Date         Location Injury.Severity Aircraft.damage  \
0      1948-10-24  MOOSE CREEK, ID        Fatal(2)       Destroyed
1      1962-07-19   BRIDGEPORT, CA        Fatal(4)       Destroyed
3      1977-06-19       EUREKA, CA        Fatal(2)       Destroyed
6      1981-08-01       COTTON, MN        Fatal(4)       Destroyed
7      1982-01-01      PULLMAN, WA       Non-Fatal     Substantial
...           ...              ...             ...             ...
88639  2022-10-06         Iola, TX       Non-Fatal     Substantial
88647  2022-10-08       Dacula, GA       Non-Fatal     Substantial
88661  2022-10-13      Ardmore, OK       Non-Fatal     Substantial
88735  2022-10-29      Houston, TX           Minor     Substantial
88767  2022-11-09   Bridgeport, TX       Non-Fatal     Substantial

                    Make     Model  Number.of.Engines Purpose.of.flight  \
0                Stinson     108-3                1.0          Personal
1                  Piper  PA24-180                1.0          Personal
3               Rockwell       112                1.0          Personal
6                 Cessna       180                1.0          Personal
7                 Cessna       140                1.0          Personal
...                  ...       ...                ...               ...
88639             CESSNA       150                1.0          Personal
88647             CESSNA     177RG                1.0          Personal
88661              BEECH      B-60                2.0          Personal
88735  STEPHEN J HOFFMAN    MS-500                1.0              ASHO
88767           LUSCOMBE        8E                1.0          Personal

       Total.Fatal.Injuries  Total.Serious.Injuries  Total.Minor.Injuries  \
0                       2.0                     0.0                   0.0
1                       4.0                     0.0                   0.0
3                       2.0                     0.0                   0.0
6                       4.0                     0.0                   0.0
7                       0.0                     0.0                   0.0
...                     ...                     ...                   ...
88639                   0.0                     0.0                   0.0
88647                   0.0                     0.0                   0.0
88661                   0.0                     0.0                   0.0
88735                   0.0                     1.0                   0.0
88767                   0.0                     0.0                   0.0

       Total.Uninjured Weather.Condition  \
0                  0.0               UNK
1                  0.0               UNK
3                  0.0               IMC
6                  0.0               IMC
7                  2.0               VMC
...                ...               ...
88639              1.0               VMC
88647              2.0               VMC
88661              1.0               VMC
88735              0.0               VMC
88767              2.0               VMC

                                           Report.Status
0                                         Probable Cause
1                                         Probable Cause
3                                         Probable Cause
6                                         Probable Cause
7                                         Probable Cause
...                                                  ...
88639  The pilots failure to maintain control of the...
88647  An in-flight collision with a bird while on ap...
88661  The pilot did not ensure adequate clearance fr...
88735  The pilots failure to secure the magneto swit...
88767  The pilots loss of control due to a wind gust...

[63609 rows x 14 columns]

Now that that is done, let's go ahead and check for duplicates

* Consistency

In [9]:
#Check for duplicates
duplicates = aviation_df[aviation_df.duplicated()]
#Print out the duplicates
print(duplicates)

       Event.Date          Location Injury.Severity Aircraft.damage  \
1371   1982-05-28    EVANSVILLE, IN       Non-Fatal     Substantial
3082   1982-10-18    GULF OF MEXICO        Fatal(3)       Destroyed
4761   1983-05-22    BRIDGEPORT, CA        Fatal(1)     Substantial
5120   1983-06-20       CHICAGO, IL        Incident           Minor
6512   1983-10-08        FRESNO, CA       Non-Fatal     Substantial
7941   1984-04-13        DELAND, FL       Non-Fatal     Substantial
8661   1984-06-18      PORTLAND, AR       Non-Fatal     Substantial
13532  1985-11-30     SAN PEDRO, CA        Fatal(1)       Destroyed
14421  1986-04-15      HANKAMER, TX        Fatal(2)       Destroyed
19820  1988-03-10    GREENSBORO, NC        Incident             NaN
21077  1988-08-05       ATLANTA, GA        Incident           Minor
22453  1989-03-01       HOUSTON, TX        Incident             NaN
22626  1989-03-27     MANHATTAN, NY       Non-Fatal     Substantial
24878  1990-02-09     TETERBORO, NJ       Non-Fatal     Substantial
25927  1990-07-01      FLORENCE, AL        Fatal(4)       Destroyed
26868  1990-10-20          KENT, OH       Non-Fatal     Substantial
27496  1991-03-02        MARANA, AZ       Non-Fatal     Substantial
27811  1991-04-19    SANTA ROSA, NM       Non-Fatal     Substantial
28706  1991-07-31        SILICA, KS        Fatal(2)       Destroyed
30247  1992-04-23       BRANSON, MO       Non-Fatal     Substantial
31502  1992-09-21       ORLANDO, FL       Non-Fatal     Substantial
33525  1993-08-12       PIONEER, LA       Non-Fatal     Substantial
34513  1994-02-12  GRAND CANYON, AZ       Non-Fatal     Substantial
34847  1994-04-10    OKEECHOBEE, FL       Non-Fatal     Substantial
35076  1994-05-19      STOCKTON, CA       Non-Fatal     Substantial
38187  1995-08-27  FORT COLLINS, CO       Non-Fatal     Substantial
39138  1996-02-24      Havana, Cuba        Fatal(4)       Destroyed
40556  1996-09-13          RENO, NV       Non-Fatal     Substantial
43728  1998-04-19     KISSIMMEE, FL        Fatal(2)       Destroyed
45738  1999-03-10  BATTLE CREEK, MI       Non-Fatal     Substantial
48463  2000-05-27       BUNNELL, FL        Fatal(2)       Destroyed
51386  2001-08-27       Hopland, CA        Fatal(2)       Destroyed
52842  2002-06-19     KETCHIKAN, AK       Non-Fatal     Substantial
56311  2004-03-05        Denver, CO        Incident           Minor
57380  2004-08-28      Prescott, AZ        Fatal(2)       Destroyed
58650  2005-05-17        Denver, CO        Incident           Minor
62369  2007-04-21      VAN HORN, TX       Non-Fatal     Substantial
63043  2007-07-27       Phoenix, AZ        Fatal(4)       Destroyed
63296  2007-09-02   FARMINGDALE, NY       Non-Fatal     Substantial
77987  2016-03-20       Cusco, Peru             NaN           Minor
87549  2022-03-18     Grapevine, TX       Non-Fatal     Substantial
88387  2022-08-20      Bealeton, VA           Minor     Substantial
88528  2022-09-14          Mumbai,              NaN             NaN

                                 Make            Model  Number.of.Engines  \
1371                           Cessna              172                1.0
3082                             Bell             206B                1.0
4761                    Schempp-hirth  STANDARD CIRRUS                NaN
5120                           Boeing            B-747                4.0
6512                   North American            SNJ-2                1.0
7941                           Cessna             172P                1.0
8661                             Snow            AT400                1.0
13532                            Bell           206L-1                1.0
14421                         Grumman            G164A                1.0
19820                          Boeing              737                2.0
21077                         Douglas          DC-9-51                2.0
22453               Mcdonnell Douglas          DC-9-82                2.0
22626                        Sikorsky            S-76A                2.0
24878                      Mitsubishi         MU-2B-35                2.0
25927                           Piper        PA-38-112                1.0
26868                          Cessna              152                1.0
27496                          Boeing              A75                1.0
27811  Ercoupe (eng & Research Corp.)            415-C                1.0
28706                  Aero Commander             500B                2.0
30247                          Cessna              152                1.0
31502                          Cessna             210L                1.0
33525                         Grumman           G-164B                1.0
34513                          Cessna             402C                2.0
34847                           Globe            9C-1B                1.0
35076                        Robinson            R22-B                1.0
38187                           Piper        PA-28-181                1.0
39138                          Cessna              337                NaN
40556                           Pitts             S-1S                1.0
43728                          Boeing           A-75N1                1.0
45738                          Cessna             172R                1.0
48463             Avions Mudry Et Cie          CAP 10B                1.0
51386                         Grumman            TS-2A                2.0
52842                    De Havilland        DHC-6-300                2.0
56311                Airbus Industrie         A320-232                2.0
57380        American Champion (acac)            8KCAB                1.0
58650                          Boeing          737-322                2.0
62369                        Robinson         R22 Beta                1.0
63043                      Eurocopter         AS350-B2                1.0
63296                  North American            SNJ-2                1.0
77987                          BOEING              737                NaN
87549                          CESSNA             208B                1.0
88387                          BOEING            A75N1                1.0
88528                          BOEING              787                NaN

         Purpose.of.flight  Total.Fatal.Injuries  Total.Serious.Injuries  \
1371              Personal                   0.0                     0.0
3082               Unknown                   3.0                     0.0
4761               Unknown                   1.0                     0.0
5120               Unknown                   0.0                     0.0
6512              Business                   0.0                     0.0
7941         Instructional                   0.0                     0.0
8661    Aerial Application                   0.0                     0.0
13532              Unknown                   1.0                     4.0
14421   Aerial Application                   2.0                     NaN
19820              Unknown                   0.0                     0.0
21077              Unknown                   0.0                     0.0
22453              Unknown                   0.0                     0.0
22626  Executive/corporate                   0.0                     0.0
24878              Unknown                   0.0                     0.0
25927        Instructional                   4.0                     0.0
26868        Instructional                   0.0                     0.0
27496       Other Work Use                   0.0                     0.0
27811             Personal                   0.0                     0.0
28706              Unknown                   2.0                     0.0
30247             Personal                   0.0                     1.0
31502              Unknown                   0.0                     0.0
33525   Aerial Application                   0.0                     0.0
34513          Positioning                   0.0                     0.0
34847              Unknown                   0.0                     0.0
35076       Other Work Use                   0.0                     0.0
38187             Personal                   0.0                     0.0
39138       Other Work Use                   4.0                     NaN
40556              Unknown                   0.0                     0.0
43728              Unknown                   2.0                     0.0
45738        Instructional                   0.0                     0.0
48463              Unknown                   2.0                     0.0
51386      Public Aircraft                   2.0                     NaN
52842                  NaN                   NaN                     NaN
56311                  NaN                   NaN                     NaN
57380             Personal                   2.0                     NaN
58650                  NaN                   NaN                     NaN
62369        Instructional                   NaN                     NaN
63043       Other Work Use                   4.0                     NaN
63296       Other Work Use                   NaN                     NaN
77987                  NaN                   0.0                     0.0
87549             Business                   0.0                     0.0
88387             Business                   0.0                     2.0
88528                  NaN                   0.0                     0.0

       Total.Minor.Injuries  Total.Uninjured Weather.Condition  \
1371                    0.0              7.0               VMC
3082                    0.0              0.0               VMC
4761                    0.0              1.0               VMC
5120                    0.0            440.0               VMC
6512                    0.0              2.0               VMC
7941                    0.0              2.0               VMC
8661                    0.0              2.0               VMC
13532                   7.0              0.0               VMC
14421                   NaN              NaN               VMC
19820                   0.0            159.0               VMC
21077                   0.0            199.0               UNK
22453                   0.0            185.0               IMC
22626                   0.0              4.0               VMC
24878                   0.0              2.0               VMC
25927                   0.0              0.0               VMC
26868                   0.0              2.0               VMC
27496                   0.0              3.0               VMC
27811                   1.0              1.0               VMC
28706                   0.0              0.0               VMC
30247                   1.0              2.0               VMC
31502                   0.0              1.0               VMC
33525                   0.0              2.0               VMC
34513                   0.0              3.0               VMC
34847                   0.0              2.0               VMC
35076                   1.0              1.0               VMC
38187                   0.0              1.0               VMC
39138                   NaN              NaN               VMC
40556                   0.0              2.0               VMC
43728                   0.0              0.0               VMC
45738                   0.0              1.0               VMC
48463                   0.0              0.0               VMC
51386                   NaN              NaN               VMC
52842                   NaN             31.0               VMC
56311                   NaN            209.0               VMC
57380                   NaN              NaN               VMC
58650                   NaN            187.0               VMC
62369                   NaN              4.0               VMC
63043                   NaN              NaN               VMC
63296                   NaN              2.0               VMC
77987                   0.0              0.0               NaN
87549                   0.0              2.0               VMC
88387                   0.0              2.0               VMC
88528                   0.0              0.0               NaN

                                           Report.Status
1371                                      Probable Cause
3082                                      Probable Cause
4761                                      Probable Cause
5120                                      Probable Cause
6512                                      Probable Cause
7941                                      Probable Cause
8661                                      Probable Cause
13532                                     Probable Cause
14421                                     Probable Cause
19820                                     Probable Cause
21077                                     Probable Cause
22453                                     Probable Cause
22626                                     Probable Cause
24878                                     Probable Cause
25927                                     Probable Cause
26868                                     Probable Cause
27496                                     Probable Cause
27811                                     Probable Cause
28706                                     Probable Cause
30247                                     Probable Cause
31502                                     Probable Cause
33525                                     Probable Cause
34513                                     Probable Cause
34847                                     Probable Cause
35076                                     Probable Cause
38187                                     Probable Cause
39138                                            Foreign
40556                                     Probable Cause
43728                                     Probable Cause
45738                                     Probable Cause
48463                                     Probable Cause
51386                                     Probable Cause
52842                                     Probable Cause
56311                                     Probable Cause
57380                                     Probable Cause
58650                                     Probable Cause
62369                                     Probable Cause
63043                                     Probable Cause
63296                                     Probable Cause
77987                                                NaN
87549  The failure of the pilot of the second aircraf...
88387                                                NaN
88528                                                NaN

In [24]:
aviation_df.drop_duplicates(inplace=True)

Once again, it's been made clear our data set has duplicates which we removed given we don't need them
to proceed.

Let's use a code to confirm our dataset no longer has duplicates.

In [11]:
#Check for duplicates
duplicates = aviation_df[aviation_df.duplicated()]
#Print out the duplicates
print(duplicates)

Empty DataFrame
Columns: [Event.Date, Location, Injury.Severity, Aircraft.damage, Make, Model, Number.of.Engines, Purpose.of.flight, Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured, Weather.Condition, Report.Status]
Index: []

Perfect! We have removed the duplicates from our data set.

Now let's proceed and make sure our data is valid and makes sense.

* Validity

Let's find out the types of data in our data set

In [12]:
# Check data types of columns
print(aviation_df.dtypes)

Event.Date                 object
Location                   object
Injury.Severity            object
Aircraft.damage            object
Make                       object
Model                      object
Number.of.Engines         float64
Purpose.of.flight          object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Report.Status              object
dtype: object

In [13]:
# Check for outliers in numerical columns
print(aviation_df.describe())

       Number.of.Engines  Total.Fatal.Injuries  Total.Serious.Injuries  \
count       82766.000000          77450.000000            76346.000000
mean            1.146485              0.647799                0.279910
std             0.446389              5.487234                1.544334
min             0.000000              0.000000                0.000000
25%             1.000000              0.000000                0.000000
50%             1.000000              0.000000                0.000000
75%             1.000000              0.000000                0.000000
max             8.000000            349.000000              161.000000

       Total.Minor.Injuries  Total.Uninjured
count          76923.000000     82939.000000
mean               0.357084         5.310264
std                2.235962        27.842619
min                0.000000         0.000000
25%                0.000000         0.000000
50%                0.000000         1.000000
75%                0.000000         2.000000
max              380.000000       699.000000

In [31]:
#Let's fill the null numerical values with the mean
numeric_columns = aviation_df.select_dtypes(include=['number']).columns
for column in numeric_columns:
    mean = aviation_df[column].mean()
    aviation_df[column] = aviation_df[column].fillna(mean)

In [32]:
#Let's fill the null non numerical values with a placeholder
# Define the placeholder value
placeholder = "Placeholder_Value"

# Replace objects with the placeholder
object_columns = aviation_df.select_dtypes(include=['object']).columns
for column in object_columns:
    aviation_df[column] = aviation_df[column].fillna(placeholder)

***So far so good, we now know the state of our data and how valid it is.
Now let's ensure our data is uniform and is in good structure***

Let's identify the outliers using z score

In [20]:
import pandas as pd
import numpy as np
from scipy import stats

# Using aviation_df as your DataFrame
# Create an example DataFrame
aviation_df = pd.DataFrame({
    'column1': [10, 20, 30, 1000, 50],
    'column2': [1, 2, 3, 4, 100]
})

# Calculate z-scores for numerical columns
z_scores = stats.zscore(aviation_df.select_dtypes(include='number'))

# Define a threshold for identifying outliers
threshold = 3

# Identify outliers
outliers = (np.abs(z_scores) > threshold).any(axis=1)

# Remove outliers from the DataFrame
aviation_df_clean = aviation_df[~outliers]

print("Original DataFrame:")
print(aviation_df)

print("\nZ-scores:")
print(z_scores)

print("\nOutliers:")
print(outliers)

print("\nCleaned DataFrame:")
print(aviation_df_clean)

Original DataFrame:
   column1  column2
0       10        1
1       20        2
2       30        3
3     1000        4
4       50      100

Z-scores:
    column1   column2
0 -0.544672 -0.538285
1 -0.518980 -0.512652
2 -0.493288 -0.487019
3  1.998845 -0.461387
4 -0.441904  1.999343

Outliers:
0    False
1    False
2    False
3    False
4    False
dtype: bool

Cleaned DataFrame:
   column1  column2
0       10        1
1       20        2
2       30        3
3     1000        4
4       50      100

In [26]:
#Let's drop the outliers
aviation_df_clean = aviation_df_clean[~outliers]

***Great! Let's move on to data analysis***

# Data Analysis

**In this section of the notebook, we will carry out 3 types of Analysis;**
* Univariate analysis
* Bivariate analysis 
* Multivariate analysis
  
This will be done for both categorical and numerical values

*Univariate Analysis*

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns

# Univariate Analysis for Categorical Variables
categorical_columns = aviation_df.select_dtypes(include=['object']).columns

for col in categorical_columns:
    print(f"Column: {'Make'}")
    print(aviation_df['Make'].value_counts())
    plt.figure(figsize=(10, 4))
    sns.countplot(y=aviation_df['Make'], order=aviation_df['Make'].value_counts().index)
    plt.title(f'Distribution of '{'Make'}')
    plt.show()

# Univariate Analysis for Numerical Variables
numerical_columns = aviation_df.select_dtypes(include=['number']).columns

for col in numerical_columns:
    print(f"Column: {'Total_Uninjured'}")
    print(aviation_df['Total_Uninjured'].describe())
    plt.figure(figsize=(10, 4))
    sns.histplot(aviation_df['Total_Uninjured'], kde=True)
    plt.title(f'Distribution of {'Total_Uninjured'}')
    plt.show()
    plt.figure(figsize=(10, 4))
    sns.boxplot(x=aviation_df['Total_Uninjured'])
    plt.title(f'Boxplot of {'Total_Uninjured'}')
    plt.show()

SyntaxError: unterminated string literal (detected at line 12) (1443530280.py, line 12)


*Bivariate Analysis*

In [66]:
import seaborn as sns
import matplotlib.pyplot as plt

# Bivariate Analysis for Categorical vs Numerical Variables
def cat_num_bivariate_analysis(Country, Total_Serious_Injuries):
    plt.figure(figsize=(10, 6))
    sns.boxplot(x=cat_var, y=num_var, data=data)
    plt.title(f'{cat_var} vs {num_var}')
    plt.xlabel(cat_var)
    plt.ylabel(num_var)
    plt.show()

# Bivariate Analysis for Categorical vs Categorical Variables
def cat_cat_bivariate_analysis(Country, Injury_Severity):
    plt.figure(figsize=(10, 6))
    sns.countplot(x=cat_var1, hue=cat_var2, data=data)
    plt.title(f'{cat_var1} vs {cat_var2}')
    plt.xlabel(cat_var1)
    plt.ylabel('Count')
    plt.legend(title=cat_var2)
    plt.show()

# Conclusions and Recommendations

Excellent. Armed with that information, a general approach to summarizing observations and suggesting potential solutions based on aerial datasets is as follows:

**Observations:**
1. **Accident/Incident Pattern** Analyze data to identify recurring patterns or trends in aircraft accidents or incidents. Look for common factors such as weather conditions, pilot error and mechanical problems.
   
2. **Flight Schedule Analysis** Study flight schedules to identify peak air traffic times, busiest routes, and patterns that may cause congestion or delays.

3. **Aircraft Characteristics** Review data on aircraft type and characteristics. Identify trends in reliability, maintenance issues, or safety performance of different aircraft models.

4. **Safety Precautions** Review the safety precautions implemented by airlines and aviation authorities. Efficiency is evaluated based on accident/disaster rates before and after implementation.

5. **Compliance.** Assess compliance with aviation regulations and standards. Find out where compliance is lacking or where improvements can be made.

**Possible solutions:**
1. **Enhanced Training and Procedures:** Provides additional training to pilots and flight crews to address common causes of accidents or incidents. Implement standardized procedures to improve safety protocols.
   
2. **Improved Maintenance Protocols:** Implement more stringent maintenance schedules and procedures to ensure aircraft are properly maintained and operated safely.

3. **Technology Upgrades** Invest in technology upgrades to aircraft systems, air traffic control and safety equipment to improve overall safety and efficiency.

4. **Air Traffic Management Solutions** Develop strategies to manage air traffic flows more efficiently, including route optimization, airspace redesign, and improved communication systems.

5. **Regulatory Reform:** Advocate for regulatory reform to address identified safety issues and improve overall aviation safety standards.

***These are some general observations and possible solutions based on the AviationData data set.***

With that, we can present our findings knowing informed and conclusive decisions can be made.